# Python cache
__pycache__/
*.py[cod]
*$py.class
.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/


# Logs
*.log
sandbox.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

