# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/